.block-editor .cz-block--parallax {
	padding: 25px;
	border: dashed 1px #22A5AD;
}

.cz-parallax--default {
    transform: translateY(var(--cz-parallax, 0));
    transition: transform .1s linear;
    will-change: transform;
}