.cz-block--container.container {
    margin: auto;
    max-width: var(--cz-container-width, unset);
}

.block-editor .cz-block--container.container {
    border: dashed 1px #22A5AD;
    padding: 25px;
}