.cz-block--section__wrapper {
	--cz-section-padding-y-default: var(--cz-section-padding-y, 25px);
	--cz-section-padding-x-default: var(--cz-section-padding-x, 25px);
}

.cz-block--section {
	position: relative;
	padding: var(--cz-section-padding-top, var(--cz-section-padding-y-default)) var(--cz-section-padding-right, var(--cz-section-padding-x-default)) var(--cz-section-padding-bottom, var(--cz-section-padding-y-default)) var(--cz-section-padding-left, var(--cz-section-padding-x-default));
	background-color: var(--cz-section-background-color, transparent);
	background-image: var(--cz-section-background-image);
	background-size: cover;
	color: var(--cz-section-text-color, inherit);
	background-position: var(--cz-section-background-position, center center);
	border-top: solid var(--cz-section-border-color, initial) var(--cz-section-border-top, 0px);
	border-right: solid var(--cz-section-border-color, initial) var(--cz-section-border-right, 0px);
	border-bottom: solid var(--cz-section-border-color, initial) var(--cz-section-border-bottom, 0px);
	border-left: solid var(--cz-section-border-color, initial) var(--cz-section-border-left, 0px);
}

.cz-block--section.left {
	text-align: left;
}

.cz-block--section.right {
	text-align: right;
}

.cz-block--section.center {
	text-align: center;
}

.block-editor .cz-block--section {
	width: auto;
	left: unset;
	right: unset;
	margin-left: unset;
	margin-right: unset;
}

.cz-block--section .background-overlay {
	position: absolute;
	z-index: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var(--cz-section-background-overlay-color, transparent);
}

.block-editor .cz-block--section__wrapper,
.block-editor .cz-block--section .cz-block--section__inner.container {
	border: dashed 1px #22A5AD;
}

.block-editor .cz-block--section .cz-block--section__inner.container {
	max-width: 80%;
	padding: 25px;
}

.cz-block--section.cz-block--has-text-color p,
.cz-block--section.cz-block--has-text-color li,
.cz-block--section.cz-block--has-text-color h1,
.cz-block--section.cz-block--has-text-color h2,
.cz-block--section.cz-block--has-text-color h3,
.cz-block--section.cz-block--has-text-color h4,
.cz-block--section.cz-block--has-text-color h5,
.cz-block--section.cz-block--has-text-color h6 {
	color: inherit;
}

.cz-block--section__inner {
	position: relative;
	z-index: 1;
	margin: 0 auto;
}

.cz-block--section .video-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 0;
}

.cz-block--section .video-wrapper video {
	height: 100%;
	width: 100%;
	object-fit: cover;
}


@media (max-width: 600px) {
	.cz-block--section__wrapper {
		--cz-section-padding-y-default: var(--cz-section-padding-y-mobile, 25px);
		--cz-section-padding-x-default: var(--cz-section-padding-x-mobile, 25px);
	}

	.cz-block--section {
		padding: var(--cz-section-padding-top-mobile, var(--cz-section-padding-y-default)) var(--cz-section-padding-right-mobile, var(--cz-section-padding-x-default)) var(--cz-section-padding-bottom-mobile, var(--cz-section-padding-y-default)) var(--cz-section-padding-left-mobile, var(--cz-section-padding-x-default));
		background-image: var(--cz-section-background-image-mobile, var(--cz-section-background-image));
	}
}
